@import "../../global.css";

body {
  margin: 0;
}
p {
  margin: 0;
}
* {
  font-family: Arial;
}
.large {
  font-size: 35px;
}

.hide {
  opacity: 0;
}

[v-cloak] {
  display: none;
}

.wrapper {
  margin: 24px;
  width: 500px;

  height: 40px;

  transition-duration: 500ms;
}

.map {
  position: relative;
  border-radius: 8px;
  width: 300px;

  top: 200px;

  padding: 8px;
  background: var(--key);

  display: flex;
  align-items: center;
}

.map .diff {
  width: 110px;
  color: white;
  font-size: 24px;
  filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
}

.map .diff .star {
  font-size: 20px;
  margin-right: 5px;
}

.map .mod {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 14px;
  background-color: var(--key);
  color: white;
  
  box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  border-radius: 4px;

  padding: 6px 12px;
}

.map .mod .text {
  filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
}

.map .bpm {
  position: absolute;
  right: 0;
  width: 90px;
  color: white;
  font-size: 24px;
  filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
}

.flexSpacer{
  flex: 1 1 auto;
}

.flexEnd{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.clipPathAnimation{
  transition: clip-path .3s;
}